.headering {
    font-family: 'Poiret One';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
}

a.dictionary {
    padding: 0%;
}

/*ФОрма для регистрации*/
* {box-sizing: border-box;}

/* Поля ввода полной ширины */
input[type=text], input[type=email], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    font-family: 'Poiret One';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    border-radius: 50px;
    background: #f1f1f1;
}

/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=email]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

/* Установите стиль для всех кнопок */
button.signupbtn {
    background-color: #231d5f;
    color: white;
    padding: 14px 16px;
    margin: 0;
    border: none;
    cursor: pointer;
    font-size: 25px;
    opacity: 1;
    text-decoration: none;
    border-radius: 50px;
}

button.signupbtn:hover{
    opacity:1;
}

/* Float cancel and signup buttons and add an equal width */
.signupbtn {
    float: left;
    width: 100%;
    font-family: 'Poiret One';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
}

/* Add padding to container elements */
.container {
padding: 16px;
}

/* Модальный (фон) */
.modal {
display: none; /* Скрыто по умолчанию */
position: fixed; /* Оставаться на месте */
z-index: 1; /* Сидеть на вершине */
left: 0;
top: 0;
width: 100%; /* Полная ширина */
height: 100%; /* Полная высота */
overflow: auto; /* Включите прокрутку, если это необходимо */
background-color: #474e5d;
padding-top: 50px;
}

/* Модальное содержание/бокс */
.modal-content {
background-color: #fefefe;
margin: 5% auto 15% auto; /* 5% сверху, 15% снизу и по центру */
border: 1px solid #888;
width: 80%; /* Может быть больше или меньше, в зависимости от размера экрана */
border-radius: 50px;
}

/* Style the horizontal ruler */
hr {
border: 1px solid #f1f1f1;
margin-bottom: 25px;
}

/* Кнопка закрытия (x) */
.close {
position: absolute;
right: 35px;
top: 15px;
font-size: 40px;
font-weight: bold;
color: #f1f1f1;
}

.close:hover,
.close:focus {
color: #f44336;
cursor: pointer;
} 

/* Clear floats */
.clearfix::after {
content: "";
clear: both;
display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
.signupbtn {
    width: 100%;
}
}

.ienter {
    width: 7%;
    height: 64px;
    float: right;
    
    font-family: 'Poiret One';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 150%;
    align-items: center;
    text-align: center;
    border-radius: 50px;

    background: #243368;
    color: white;
    border: 2px solid #243368;
} 

.ienter:hover {
    background: white;
    color: #243368;
}

.lesson1 {
    position: absolute;
    width: 50%;
    height: 96px;
    top: 20%;
    left: 14%;
    
    font-family: 'Poiret One';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
/*    line-height: 150%; 
    display: flex; */
    align-items: center;
    text-align: center;
    border-radius: 50px;

    background: #2D2AAF;
    color: white;
    border: 2px solid #2D2AAF;
    line-height: 20px;
} 

.lesson1:hover {
    background: white;
    color: #2D2AAF;
}

.lesson2 {
    position: absolute;
    width: 50%;
    height: 96px;
    top: 35%;
    left: 14%;
    
    font-family: 'Poiret One';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
/*    line-height: 150%; 
    display: flex; */
    align-items: center;
    text-align: center;
    border-radius: 50px;

    background: #2D2AAF;
    color: white;
    border: 2px solid #2D2AAF;
    line-height: 20px;
} 

.lesson2:hover {
    background: white;
    color: #2D2AAF;
}

.lesson3 {
    position: absolute;
    width: 50%;
    height: 96px;
    top: 50%;
    left: 14%;
    
    font-family: 'Poiret One';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
/*    line-height: 150%; 
    display: flex; */
    align-items: center;
    text-align: center;
    border-radius: 50px;

    background: #2D2AAF;
    color: white;
    border: 2px solid #2D2AAF;
    line-height: 20px;
} 

.lesson3:hover {
    background: white;
    color: #2D2AAF;
}

.lesson4 {
    position: absolute;
    width: 50%;
    height: 96px;
    top: 65%;
    left: 14%;
    
    font-family: 'Poiret One';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
/*    line-height: 150%; 
    display: flex; */
    align-items: center;
    text-align: center;
    border-radius: 50px;

    background: #2D2AAF;
    color: white;
    border: 2px solid #2D2AAF;
    line-height: 20px;
} 

.lesson4:hover {
    background: white;
    color: #2D2AAF;
}

.lesson5 {
    position: absolute;
    width: 50%;
    height: 96px;
    top: 80%;
    left: 14%;
    
    font-family: 'Poiret One';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
/*    line-height: 150%; 
    display: flex; */
    align-items: center;
    text-align: center;
    border-radius: 50px;

    background: #2D2AAF;
    color: white;
    border: 2px solid #2D2AAF;
    line-height: 20px;
} 

.lesson5:hover {
    background: white;
    color: #2D2AAF;
}

.theory {
    position: absolute;
    width: 20%;
    height: 96px;
    top: 32%;
    left: 73%;
    
    font-family: 'Poiret One';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
/*    line-height: 150%; 
    display: flex; */
    align-items: center;
    text-align: center;
    border-radius: 50px;

    background: #2D2AAF;
    color: white;
    border: 2px solid #2D2AAF;
    line-height: 20px;
} 

.theory:hover {
    background: white;
    color: #2D2AAF;
}

.card-animation {
    position: absolute;
    top: 28%;
    left: 28%;
    width: 600px;
    height: 350px;
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.card-animation.flipped .card-inner {
    transform: rotateY(180deg);
}

.card-front-2, .card-back-2 {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #2D2AAF;
    border-radius: 50px;
    box-shadow: 0 4px 8px #2D2AAF;

    font-family: 'Poiret One';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
}

.card-front-2 {
    background-color: #fff;
}

.card-back-2 {
    background-color: #fff;
    transform: rotateY(180deg);
}

button.continue {
    position: absolute;
    top: 77%;
    left: 35%;
    background-color: #2D2AAF;
    color: white;
    padding: 14px 16px;
    margin: 0;
    border: none;
    cursor: pointer;
    font-size: 25px;
    text-decoration: none;
    border-radius: 50px;
}

button.continue:hover{
    opacity:1;
}

button.dictionary {
    position: absolute;
    top: 77%;
    left: 50%;
    background-color: #2D2AAF;
    color: white;
    padding: 14px 16px;
    margin: 0;
    border: none;
    cursor: pointer;
    font-size: 25px;
    text-decoration: none;
    border-radius: 50px;
}

button.dictionary:hover{
    opacity:1;
}

.card-front-1, .card-back-1 {
    position: absolute;
    top: 28%;
    left: 28%;
    width: 700px;
    height: 400px;
    backface-visibility: hidden;
    border: 2px solid #2D2AAF;
    box-shadow: 0 4px 8px #2D2AAF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.6s;
    border-radius: 50px;

    font-family: 'Poiret One';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
}

.card-front-1 {
    background-color: #f8f8f8;
}

.card-back-1 {
    background-color: #e8e8e8;
    transform: rotateY(180deg);
}

.cardind.flipped .card-front-1 {
    transform: rotateY(180deg);
}

.cardind.flipped .card-back-1 {
    transform: rotateY(360deg);
}