body {
    background-image:url(images/main.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.headering {
    font-family: 'Poiret One';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
}

a.add-dictionary {
    padding: 0%;
}

/*ФОрма для регистрации*/
* {box-sizing: border-box;}

input[type=text], input[type=email], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    font-family: 'Poiret One';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    border-radius: 50px;
    background: #f1f1f1;
}

input[type=text]:focus, input[type=email]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

button.signupbtn {
    background-color: #231d5f;
    color: white;
    padding: 14px 16px;
    margin: 0;
    border: none;
    cursor: pointer;
    font-size: 25px;
    opacity: 1;
    text-decoration: none;
    border-radius: 50px;
}

button.signupbtn:hover{
    opacity:1;
}

.signupbtn {
    float: left;
    width: 100%;
    font-family: 'Poiret One';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
}

.container-form {
padding: 16px;
}

.modal {
display: none; /* Скрыто по умолчанию */
position: fixed; /* Оставаться на месте */
z-index: 1; /* Сидеть на вершине */
left: 0;
top: 0;
width: 100%; /* Полная ширина */
height: 100%; /* Полная высота */
overflow: auto; /* Включите прокрутку, если это необходимо */
background-color: #474e5d;
padding-top: 50px;
}

.modal-content {
background-color: #fefefe;
margin: 5% auto 15% auto; /* 5% сверху, 15% снизу и по центру */
border: 1px solid #888;
width: 80%; /* Может быть больше или меньше, в зависимости от размера экрана */
border-radius: 50px;
}

hr {
border: 1px solid #f1f1f1;
margin-bottom: 25px;
}

.close {
position: absolute;
right: 35px;
top: 15px;
font-size: 40px;
font-weight: bold;
color: #f1f1f1;
}

.close:hover,
.close:focus {
color: #f44336;
cursor: pointer;
} 

.clearfix::after {
content: "";
clear: both;
display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
    .signupbtn {
        width: 100%;
    }
}

.ienter {
    width: 7%;
    height: 64px;
    float: right;
    
    font-family: 'Poiret One';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 150%;
    align-items: center;
    text-align: center;
    border-radius: 50px;

    background: #243368;
    color: white;
    border: 2px solid #243368;
} 

.ienter:hover {
    background: white;
    color: #243368;
}

.basic {
    display: flex;
    padding-left: 250px;
    justify-content: space-around;

}

.lessons-container {
    display: flex;
    padding-top: 120px;
    width: 60%;
    height: 700px;
    
    flex-direction: column;
    justify-content: space-between;
}

.lesson1, .lesson2, .lesson3, .lesson4, .lesson5 {
    width: 100%;
    height: 96px;

    font-family: 'Poiret One';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;

    align-items: center;
    text-align: center;
    border-radius: 50px;

    background: #2D2AAF;
    color: white;
    border: 2px solid #2D2AAF;
    line-height: 20px;
} 

.lesson1:hover, .lesson2:hover, .lesson3:hover, .lesson4:hover, .lesson5:hover {
    background: white;
    color: #2D2AAF;
}

.btn-theory {
    padding-top: 200px;
    display: flex;
    width: 30%;
}

.theory {
    width: 100%;
    height: 96px;

    font-family: 'Poiret One';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    align-items: center;
    text-align: center;
    border-radius: 50px;

    background: #2D2AAF;
    color: white;
    border: 2px solid #2D2AAF;
    line-height: 20px;
} 

.theory:hover {
    background: white;
    color: #2D2AAF;
}

.container-card {
    display: flex;
    padding-top: 200px;
    padding-left: 600px;
    flex-direction: column;
    width: 60%;
    height: 600px;
    align-items: center;
    backface-visibility: hidden;

    justify-content: center;

    font-family: 'Poiret One';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
}

.btn-back {
    width: 15%;
    height: 72px;

    font-family: 'Poiret One';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;

    align-items: center;
    text-align: center;
    border-radius: 50px;

    background: #2D2AAF;
    color: white;
    border: 2px solid #2D2AAF;
    line-height: 20px;
} 

.btn-back:hover {
    background: white;
    color: #2D2AAF;
}
.btn-back-theory {
    position: fixed;
    bottom: 0;
    left: 4;

    width: 15%;
    height: 65px;

    font-family: 'Poiret One';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;

    align-items: center;
    text-align: center;
    border-radius: 50px;

    background: #2D2AAF;
    color: white;
    border: 2px solid #2D2AAF;
    line-height: 20px;
} 

.btn-back-theory:hover {
    background: white;
    color: #2D2AAF;
}
.btn-container {
    padding-top: 66px;
    display: flex;
    justify-content: space-between;

    width: 600px;
}
.card-animation {
    width: 600px;
    height: 350px;
}

.card-inner {
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.card-animation.flipped .card-inner {
    transform: rotateY(180deg);
}

.card-animation.flipped .card-front-2 {
    display: none;
}

.card-front-2, .card-back-2 {
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #2D2AAF;
    border-radius: 50px;
    box-shadow: 0 4px 8px #2D2AAF;

    font-family: 'Poiret One';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
}

.card-front-2 {
    background-color: #fff;
}

.card-back-2 {
    background-color: #fff;
    transform: rotateY(180deg);
}

button.continue {
    background-color: #2D2AAF;
    color: white;
    padding: 14px 16px;
    margin: 0;
    border: none;
    cursor: pointer;
    font-size: 25px;
    text-decoration: none;
    border-radius: 50px;
}

button.continue:hover{
    opacity:1;
}

button.btn-dictionary {
    background-color: #2D2AAF;
    color: white;
    padding: 14px 16px;
    margin: 0;
    border: none;
    cursor: pointer;
    font-size: 25px;
    text-decoration: none;
    border-radius: 50px;
}

button.btn-dictionary:hover{
    opacity:1;
}

.btn-dictionary, .continue{
    float: left;
    width: 280px;
    font-family: 'Poiret One';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
}

.card-irregular-verb {
    width: 60%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;


    border: 1px solid #2D2AAF;
    border-radius: 50px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: white; 
    box-shadow: 0 4px 8px #2D2AAF;
}
.card-irregular-verb h2 {
    margin-top: 0;
    font-family: 'Poiret One';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
}
.card-irregular-verb input {
    display: block;
    width: 100%;
    padding: 8px;
    margin: 10px 0;
    box-sizing: border-box;
    box-shadow: 0 4px 8px #2D2AAF;
}

.card-irregular-verb button {
    background-color: #2D2AAF;
    color: white;
    padding: 14px 16px;
    margin: 0;
    border: none;
    cursor: pointer;
    text-decoration: none;
    border-radius: 50px;

    font-family: 'Poiret One';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
}
.card-irregular-verb button:hover {
    background-color: #2D2AAF;
}

.container-theory {
    width: 100%;
}

.table-irregular-verbs {
    display: flex;
    align-items: center;
    justify-content: center;


    font-family: 'Poiret One';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;

    border-radius: 10px;
}

.table-phrasal-verbs {
    display: flex;
    align-items: center;
    justify-content: center;


    font-family: 'Poiret One';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;

    border-radius: 10px;
}

td, th {
    border: 2px solid #2D2AAF;
    text-align: left;
    padding: 8px;
}

.text-display-right {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    font-family: 'Poiret One';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    border-radius: 50px;
    background: #f1f1f1;

    
    box-shadow: 0 4px 8px #00ff88;
}

.text-display-wrong {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    font-family: 'Poiret One';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    border-radius: 50px;
    background: #f1f1f1;

    
    box-shadow: 0 4px 8px #ff0000;
}

.text-display:focus {
    background-color: #ddd;
    outline: none;
}

.form-irregular-verb {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    text-align: center;
    font-family: 'Poiret One';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
}

p {
    font-family: 'Poiret One';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    text-align: justify;
}

p.phrasal {
    font-size: 38px;
}

li {
    font-family: 'Poiret One';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    text-align: justify;
}
h1 {
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    font-family: 'Poiret One';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    border-radius: 50px;
    background-color: #2D2AAF;
    color: white;
    text-align: center;
}

h3 {
    font-family: 'Poiret One';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
}

.card-word-choice {
    width: 60%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;


    border: 1px solid #2D2AAF;
    border-radius: 50px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: white; 
    box-shadow: 0 4px 8px #2D2AAF;
}

.btn-choice {

}